*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}
html,body {
    overflow:hidden;
    background:white;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: 'blackoutmidnight';
    cursor: default;
}

button {
    font-family: 'blackoutmidnight';
}

.toast {
    position: absolute;
    top: 75%;
    left: 0;
    margin: 0 auto;
    width:100%;
    background: white;
    padding: 2%;
    text-align: center;
    font-size: 300%;
    display: none;
    background: rgba(0,0,0,0.5);
    color: white;
}

.template {
    display: none;
}

.achievement {
    width: 50%;
    margin: 0 auto;
}

.achievement .description {
    font-size: 50%;
    padding: 2% 0;
}

.achievement .image {
    float:left;
    margin-right: 1%;
    width: 10%;
}

#wrapper {
    position: absolute;
}

.cash {
    position: absolute;
    left: 60%;
    top: 3%;
    width: 25%;
    color: #e5a102;
    font-size: 350%;
    text-align: right;
}

.health {
    position: absolute;
    top: 58%;
    width: 20%;
    left: 40%;
    text-align: center;
    color: #d6116e;
    display: none;
}

.health img {
    width: 4%;
}

.health .value {
    font-size: 100%;
}

@font-face {
    font-family: 'blackoutmidnight';
    src: url('fonts/blackout-nor-webfont.eot');
    src: url('fonts/blackout-nor-webfont.eot') format('embedded-opentype'),url('fonts/blackout-nor-webfont.woff') format('woff'),url('fonts/blackout-nor-webfont.ttf') format('truetype'),url('fonts/blackout-nor-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#overlay {
    z-index: 1000;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
}

#game-over {
    z-index: 1001;
    position:absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    text-align: center;
    background: white;
}

p {
    font-family: sans-serif;
    padding: 10px 0;
}

strong {
    padding:10px 0;
}

.upgrade img,
.weapon img {
    float: left;
    width: 20%;
    margin-right: 3%;
    margin-top: 3%;
    cursor: pointer;
}

.upgrades {
    overflow: hidden;
    padding: 1%;
    position: absolute;
    width: 20%;
    top: 2%;
    left: 1%;
    background: rgba(0,0,0,0.5);
    color: white;
}

.upgrades .description {
    display: none;
    padding-top: 5%;
}

.upgrade {
    opacity: 0.1;
}

.can-purchase {
    opacity:1;
}

.img-upgrade-container {
    overflow: hidden;
}

.weapons {
    position: absolute;
    left: 1%;
    bottom: 2%;
    padding: 1%;
    z-index: 2000;
    background: rgba(0,0,0,0.5);
    color: white;
}

.weapon {
    display: inline-block;
}

.weapon.loading img {
    opacity: 0.1;
}

.weapon img {
    margin: 0;
}
